// Colors
$c0: transparent;
$white: #fff;
$black: #000;

// Font
$f1: "Poppins";
$f2: "DMSans";

// Breakpoints
$b1: 1920px; // Tamaño diseño desktop
$b2: 1440px;
$b3: 1366px;
$b4: 1280px;
$b5: 1024px;
$b6: 980px; // BRP para cambio a movil tablet
$b7: 768px;
$b8: 640px;
$b9: 480px; //Tamaño de diseño movil
$b10: 320px;
